<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Dashboard</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <a href="" class="hover:text-primary">Dashboards</a>
      <span> - Usuários</span>
    </div>
  </div>
  <div class="inline-block space-x-4">
    <!-- Modal toggle -->
    <button (click)="this.modal.openModal()" class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground" type="button">
        Adicionar Usuário
    </button>
    <app-modal></app-modal>
    <!-- <button class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
      Adicionar usuário
    </button> -->
  </div>
</div>
