<div *ngIf="isVisible">
    <!-- Overlay -->
    <div class="fixed inset-0 bg-gray-800 opacity-50"></div>
    
    <!-- Main modal -->
    <div id="crud-modal" tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 flex justify-center items-center overflow-y-auto overflow-x-hidden">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Deletar {{user.name}} ?
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="closeModal()">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Fechar</span>
            </button>
          </div>
          <!-- Modal body -->
           <div class="w-full flex justify-between items-center flex-row p-2">
            <div></div>
            <div class="flex flex-row">
              <app-button full (click)="closeModal()" impact="bold" tone="light" shape="rounded" size="medium">
                Não
              </app-button>
              <app-button (click)="onClick()" class="pl-2" full [loading]="loadingButton" impact="bold" tone="primary" shape="rounded" size="medium">
                Sim
              </app-button>
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
  